*{
    padding: 0;
    box-sizing: border-box;
}
 .container {
   max-width: 700px;
   margin: auto;
   border-radius: 20px;
   background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
   padding: 15px 45px;
   background-size: cover;
   box-shadow: 0 30px 50px rgba(0, 0, 0, 0.5);
 }

/*.nuvoloso{
    background-image: url("../img/jessezhou-Uvaz_nuvoloso.jpg"); 
 }
 .soleggiato{
 background-image: url("../img/ryan-spencer-soleggiato.jpg");
}   
 */
/*header*/

input{
    border-radius: 10px;
    height: 40px;
    border:none;
 }
#city_src{
   display: flex;
   align-items: center;
   justify-content: center;
}
#search{
    width: 75%;
    padding-left: 10px;
    font-size: 18px;
    border: 1px solid blueviolet;
 }
#but_search{
   background-color: rgb(179, 118, 236);
   font-size: 20px;
   font-weight: bold;
   color: #ffffff;
   padding: 10px;
   line-height: 1; 
   margin-left: 10px;
 }
/*main*/
main{
   margin-bottom: 0;
}
 h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 20px;
 }
  .meteo_giorni{
    border-radius: 15px 15px 0 0;
    margin-top: 20px;
    display: none;
    justify-content: space-around;
    background-color: white;
    padding: 5px 20px;
 }
 .giorno{
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .temperature{
   display: flex;
}
.centro{
   display: flex;
   justify-content: center;
   align-items: center;
}
 #current-details{
   font-size: 20px;
 }
#dati{
    background-color: rgba(255, 255, 255, 0.5);
    height: 150px;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
 }
 #temp_numb{
   font-size: 80px;
   font-weight: bold;
   line-height: 80px;
 }
#gradi{
   font-size: 20px;
}
 /*footer*/
 footer{
   /* background-color: white; */
   text-align: center;
   border-radius: 0 0 10px 10px;
   margin-top: 0;
   padding: 5px 20px;
 }
 .giorno{
   display: flex;
   flex-direction: column;
   align-items: center;
 }

